html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
.map {
    height: 100%;
    width: 50%;
    float: left;
    display: table-cell;
}

.geojson {
    height: 100%;
    width: 45%;
    float: left;
    display: table-cell;
}

.geojson-text {
    width: 100%;
    height: 100%;
}